@charset "UTF-8";
/* CSS Document */

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

#debuggeri {
	position: absolute;
	top: 2px;
	right: 2px;
	width: 400px;
}

#canvas {
	position: absolute;
	left: 200px;
}

.hiiriselite {
	position: absolute;
	z-index: 999;
	display: none;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #fff;
	padding: 3px 6px;
	border: 1px #ccc solid;
}

.opasteet {
	z-index: 999;
	position: absolute;
	font-size: 1.2em;
	width: 250px;
}

#info2 {
	display: none;
}

#info1 {
	top: 0;
	left: 8px;
}

#info2 {
	bottom: 0;
	left: 8px;
}

#info1, #info2 {
	background-color: #fff;
	/* for IE */
	filter:alpha(opacity=80);
	/* CSS3 standard */
	opacity:0.8;
	padding: 12px;
}

span {
	color: #03C;
	cursor: pointer;
	font-weight: bold;
}

span:hover {
	text-decoration: underline;
	color: #000;
}

small {
	font-size: 65%;
	color: #333;
}

small a {
	color: #555;
	text-decoration: underline;
}

small a:hover {
	color: #888;
}

a img {
	border: 0;
}